@media (max-width: 980px) {
  .searchPanel {
    max-width: 400px;
  }
}
@media (max-width: 650px) {
  .searchPanel {
    max-width: 300px;
  }
}
@media (min-width: 320px) and (max-width: 650px) {
  .searchPanel {
    max-width: 155px;
  }
}
